
/* Form Elements
-------------------------------------------------------------- */
input { font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;letter-spacing:-1px;color:#999; }

/* Headings
-------------------------------------------------------------- */
h1,h3,h4 { font-weight:normal;color:#336699;font-family:"Trebuchet MS",serif;font-weight:bold;text-transform:capitalize; }
h2 { font-size:24px;line-height:1.6em;margin-bottom:3px;color:#cc6600; font-weight:bold; }
h3 { font-size:20px;line-height:1.6em;margin-bottom:5px;font-weight:bold; }
h3.secondary, h4 { font-size:14px;line-height:1.2em;margin-bottom:5px;color:#4c4c4c; }
h5 { font-size:14px;line-height:1.4em;margin-bottom:5px;color:#5c5c5c;font-weight:bold; }
h6 { font-size:13px;line-height:1.4em;margin-bottom:5px;color:#5c5c5c;font-weight:bold; }
h2 a,h3 a,h4 a,h5 a { text-decoration:none; }

h1 img,h2 img,h3 img,
h4 img,h5 img,h6 img { margin:0; }

/* Text elements
-------------------------------------------------------------- */
p { font-size:12px;line-height:1.6em;margin-bottom:18px; }
p.large { font-size:1.2em;line-height:1.7em;margin-bottom:26px;color:#5f5f5f; }
p.small { font-size:10px;line-height:1.8em;margin-bottom:24px; }

img.left { float:left;margin:0.2em 0.8em 0.3em 0;padding:0; }
img.right { float:right;margin:0.2em 0 0.3em 0.8em;padding:0; }

/* Blog image alignment */
.alignright { float:right;margin:0 0 15px 20px !important; }
.alignleft { float:left;margin:0 20px 15px 0 !important; }
.alignright img,.alignleft img { padding:2px;border:1px solid #ccc;background:#eee; }
.wp-caption-text { margin:3px 0;text-align:center;font-size:10px;color:#333;font-style:italic;line-height:1.2em; }

 
a:hover { color:#cc6600;text-decoration:underline; }
a { text-decoration:none; color:#336699; }
a.arrow { background:url() bottom right no-repeat;padding-right:9px; }
a:hover.arrow,a:focus.arrow { background:url() bottom right no-repeat; }
a.arrow_small { background:url() bottom right no-repeat;padding-right:9px; }
a:hover.arrow_small,a:focus.arrow_small { background:url() bottom right no-repeat; }

dl { margin-bottom:26px;line-height:1.6em; }
dd { margin-bottom:6px; }

ul,ol { margin-bottom:23px; }
li { margin-left:20px;list-style:disc;line-height:1.7em; }

blockquote { font-family:georgia;font-style:italic;line-height:1.7em; }
acronym { border-bottom:1px dotted #ccc; }

/***************************************************************************************
 --FORMS STYLES--
****************************************************************************************/
/* Fieldsets,legend,label */
fieldset { clear:both;padding:1em 1.4em 1.4em 1.4em;margin:0 0 30px .3em;background:#eef3f8;border:1px solid #c4d3ea; }
legend { margin:0 -.4em;padding:5px 10px;font-weight:bold;font-size:1.2em;background:#fff;border:1px solid #c4d3ea;text-transform:capitalize;color:#336699; }
label,.group-label { float:left;width:30%;margin-top:9px;text-align:right;font-size:12px;font-weight:bold;color:#555;text-transform:lowercase; }
label.selection-label { float:none;width:auto;text-align:left;color:#666; }

/* Text fields */
input,textarea,select { width:60%;-moz-border-radius:4px;border-radius:4px;-webkit-border-radius:4px;font-size:1.1em;color:#666;margin-left:20px;padding:1px;font-family:"Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;z-index:100 !important;position:relative; }
input { border:2px solid #ccc;background-color:#fff;
    top: 0px;
    left: 0px;
}
input:focus,textarea:focus { border:2px solid #ef9e4d;background:#fff; }
input[type="radio"],input[type="checkbox"] { background:transparent !important;border:0 !important;width:16px !important; }
input[type="radio"] { width:13px !important; }
button { outline:none; }

/* Textareas */
textarea { height:150px;padding:5px;border:2px solid #ccc;font-size:1.1em;color:#666;background-color:#fff; }

/* Select fields */
select { border:2px solid #ccc;background:#fff;width:190px;padding:1px;
          top: 0px;
    left: 0px;}
select:focus { border:1px solid #999;background:#fff; }

/* required elements */
.indicates-required { margin:0 6% 10px 0;text-align:right;font-size:90%;font-style:italic;color:#c60; }
span.required,label sup { color:#c60;font-weight:bold;font-size:115%; }

/* general utility */
.field-group { float:left;clear:both;width:100%;margin:6px 0 4px;position:relative; } /* wrap label and input in <div class="fieldgroup"> to style as group */
.selection-group { float:left;clear:both;width:100%;margin:3px 0; } /* wrap label and input in <div class="fieldgroup"> to style as group */
.selection-group-elements { width:60%;margin-left:20px;margin-top:5px; }
.form-btn-group { clear:both;margin:-10px 0 10px 0;padding-left:34%; }
.form-btn-group input { margin:0;width:200px; }
.btn,input[type="submit"] { display:block;width:auto !important;min-width:120px;margin:0;background:#395C8A;border:3px solid #83A4CA;color:#fff;font-size:120%;font-weight:bold;letter-spacing:0;-moz-border-radius:4px;border-radius:4px;-webkit-border-radius:4px; }
.btn:hover,input[type="submit"]:hover { background:#5878a2;border:3px solid #aac3e0;color:#fff; }
input[type="submit"].cancel { margin-left:15px;background:#ccc;color:#666 !important;border:3px solid #ccc; }
input[type="submit"].cancel:hover { color:#333 !important; }
.field-help { float:right;min-width:120px;margin:-10px 5.5% 4px 34%;padding:12px 5px 4px;background:#ccc;color:#666;font-style:italic;font-size:85%;text-align:center;-moz-border-radius:4px;border-radius:4px;-webkit-border-radius:4px;position:absolute;right:10px;top:30px; }
.helper { margin-bottom:1.5em; }
fieldset .footnote { margin:10px 3% 20px 32%; }
.captcha-group label { margin-top:0; }
.captcha-group img { float:left;margin:0 0 0 3%; }
.captcha-group input { float:left;width:36%; }

/* Success,error & notice boxes for messages and errors. */
.error,
.warning,
.success { padding:10px 4px 10px 60px;margin-bottom:1em;border:1px solid #ddd;-moz-border-radius:4px;border-radius:4px;-webkit-border-radius:4px; }
.error,.plan-response-error { background:#FBE3E4 url() no-repeat 14px 50%;color:#D12F19;border-color:#FBC2C4; }
.warning { background:#FFF6BF url() no-repeat 14px 50%;color:#817134;border-color:#FFD324; }
.success,#mc_success_msg { background:#E6EFC2 url() no-repeat 14px 50%;color:#529214;border-color:#C6D880; } 
.error a { color:#D12F19; }
.notice a { color:#817134; }
.success a { color:#529214; }
.success strong { color:#2a4d09; }
#mc_message { margin:4px 0 !important;padding:4px 8px 4px 0; }
#mc_message ul { margin:0; }
.mc_error_msg { margin:0 !important;padding:4px 8px;background:#FBE3E4;color:#D12F19;-moz-border-radius:4px;border-radius:4px;-webkit-border-radius:4px; }
.mc_success_msg { display:block;margin:0 !important;padding:4px 8px;line-height:1.3em;font-weight:normal;background:#E6EFC2;color:#529214;-moz-border-radius:4px;border-radius:4px;-webkit-border-radius:4px; }

/*Fix to work w/ jquery validation class*/
input.error,textarea.error,select.error { background-color:#fff;background-image:none;padding:5px;border:2px solid #CCCCCC;color:#666666; }
input.error:focus { border:2px solid #a2bede;background:#def3f7; }
label.error { display:block;margin-bottom:1em;padding:10px 4px 10px 60px;text-align:left;position:relative;top:-15px;background-position:12px 50% !important;color:#D12F19;width:52%;margin-left:33%;margin-bottom:0;margin-top:0px;z-index:50; }

#sms-verification .btn { margin-right:0px; }
#sms-verification p.warning { padding-right:10px; }

/* Buttons */
.button{display:inline-block;width:auto !important;min-width:120px;margin:0;background:#395C8A;border:3px solid #83A4CA;color:#fff;font-size:120%;font-weight:bold;letter-spacing:0;-moz-border-radius:4px;border-radius:4px;-webkit-border-radius:4px;}
.button.blue{padding:1em 1.8em;}
.button.blue:hover{color:#fff;}

.button.grey,.button.grey:hover{height:32px; background: url() top right no-repeat; display:inline-block; margin-left:24px; padding-right:25px; vertical-align:middle; font-size:14px; padding-top:13px; font-weight:bold;border:0; color:#666;}
.button.grey span{background: url() top left no-repeat; width:25px; height:44px; float:left; margin-left:-24px; margin-top:-13px; display:block; position:relative;}
