USE [BddProy2]
GO
/****** Object:  StoredProcedure [dbo].[ConsultarEstadosFactura]    Script Date: 01/31/2010 12:52:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ConsultarEstadosFactura]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT E.Nombre  
	FROM dbo.EstadoFactura E
	WHERE E.Nombre <> 'Anulada'

END