USE [BddProy2]
GO
/****** Object:  StoredProcedure [dbo].[IngresarCargo]    Script Date: 01/16/2010 23:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[IngresarCargo]
	-- Add the parameters for the stored procedure here
	@Nombre varchar(20),
	@Descripcion varchar(100),
	@SueldoMinimo float,
	@SueldoMaximo float,
	@VigenciaAnual smalldatetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Cargo (Nombre, Descripcion, SueldoMinimo, SueldoMaximo, VigenciaAnual)
	VALUES (@Nombre, @Descripcion, @SueldoMinimo, @SueldoMaximo, @VigenciaAnual)

END